.scroll-bg-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* фон под всем контентом */
  overflow: hidden;
}

.scroll-bg-section {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.scroll-bg-spacer {
  height: 500vh; /* создаёт высоту страницы для скролла */
}
