/* src/components/Layout/Header/Header.module.css (Локальные стили для хедера) */
.header {
  background: #1a1a1a;
  padding: 1rem 0;
}

/* Просто добавьте эти строки в существующий CSS */
.nav {
  display: flex;
  align-items: center;
  gap: 2rem; /* Расстояние между ul и MenuAuth */
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav a {
  color: #fff;
  text-decoration: none;
}
