/* src/components/Layout/Header/MenuAuth.module.css (Локальные для меню) */
.auth-button {
  transition: width 0.3s ease;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.auth-button:hover {
  width: 150px;
  border-radius: 8px;
}

.avatar-circle {
  border-radius: 50%;
  overflow: hidden;
}

.dropdown {
  position: absolute;
  top: 100%;
  background: #333;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}