@import url('https://fonts.googleapis.com/css?family=Oswald:400');

.navigation {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: auto;
}

.button {
	text-decoration: none;
	float: right;
  padding: 12px;
  margin: 15px;
  color: white;
  width: 25px;
  background-color: black;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden
}

.button:hover {
  width: 100px;
}

.button img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
  float: left;
}

.logout {
  font-size: 0.9em;
  font-family: 'Oswald', sans-serif;
  position: relative;
  right: -18px;
  bottom: -3px;
  overflow: hidden;
  letter-spacing: 2px;
  opacity: 0;
  transition: opacity 0.45s ease;
  white-space: nowrap;
  color: white;
  cursor: pointer;
}

.button:hover .logout,
.visible {
  opacity: 0.9;
}



/* Адаптация для мобильных */
@media (max-width: 768px) {
  .navigation {
    margin-right: 10px;
  }
  
  .button {
    margin: 10px;
    width: 25px !important; /* Отключаем hover-эффект на мобильных */
  }
  
  .button:hover .logout {
    opacity: 0; /* Скрываем hover-эффект на мобильных */
  }
  
  .logout {
    opacity: 0.9; /* Всегда показываем текст на мобильных */
    right: -10px;
  }
}